<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sublin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
				<key>dateExpires</key>
				<string>06.10.21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65FDDDE228E65DEC3FFD104401BE7985F8E7CB4A</string>
						<key>dateExpires</key>
						<string>06.10.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NZ3763D7F8</string>
						<key>name</key>
						<string>Andreas Schadauer</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NZ3763D7F8.io.simpledesign.sublin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NZ3763D7F8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NZ3763D7F8.io.simpledesign.sublin</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4f6ae2fd-7a9f-41a9-a03c-135320b25b69</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.simpledesign.sublin</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NZ3763D7F8</string>
				<key>name</key>
				<string>Andreas Schadauer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
